<script id="character-data" type="application/json">
  {
    "options": {
      "media": {{ site.data.characters.options.media | jsonify }},
      "origins": {{ site.data.characters.options.origins | jsonify }},
      "verses": {{ site.data.characters.options.verses | jsonify }},
      "genders": {{ site.data.characters.options.genders | jsonify }},
      "classifications": {{ site.data.characters.options.classifications | jsonify }},
      "derived_power_rules": {{ site.data.characters.options.derived_power_rules | jsonify }},
      "ability_modifiers": {{ site.data.characters.options.ability_modifiers | jsonify }},
      "powers": {{ site.data.characters.options.powers | jsonify }},
      "power_types": {{ site.data.characters.options.power_types | jsonify }},
      "martial_arts_degrees": {{ site.data.characters.options.martial_arts_degrees | jsonify }},
      "acrobatics_degrees": {{ site.data.characters.options.acrobatics_degrees | jsonify }},
      "resistance_levels": {{ site.data.characters.options.resistance_levels | jsonify }},
      "resistances": {{ site.data.characters.options.resistances | jsonify }},
      "magic_levels": {{ site.data.characters.options.magic_levels | jsonify }},
      "magic_natures": {{ site.data.characters.options.magic_natures | jsonify }},
      "equipment": {{ site.data.characters.options.equipment | jsonify }},
      "attacks": {{ site.data.characters.options.attacks | jsonify }},
      "stat_modifiers": {{ site.data.characters.options.stat_modifiers | jsonify }},
      "attack_durability_tiers": {{ site.data.characters.options.attack_durability_tiers | jsonify }},
      "speed_tiers": {{ site.data.characters.options.speed_tiers | jsonify }},
      "lifting_strength_tiers": {{ site.data.characters.options.lifting_strength_tiers | jsonify }},
      "striking_strength_tiers": {{ site.data.characters.options.striking_strength_tiers | jsonify }},
      "stamina_tiers": {{ site.data.characters.options.stamina_tiers | jsonify }},
      "range_tiers": {{ site.data.characters.options.range_tiers | jsonify }},
      "intelligence_tiers": {{ site.data.characters.options.intelligence_tiers | jsonify }}
    },
    "baseurl": {{ site.baseurl | jsonify }},
    "characters": {{ site.data.characters.entries | jsonify }}
  }
</script>
